# OS files
.DS_Store
Thumbs.db

# Logs
*.log

node_modules

# Environment files
.env
.env.local

# Editor folders
.vscode/
.idea/

# Build output
frontend/dist/

# MongoDB memory server cache
.cache/mongodb-binaries/